In [1]:
# test for concatinate src_rec files
fpath_a = "./test_srcrec_a.dat"
fpath_b = "./test_srcrec_b.dat"
fpath_c = "./test_srcrec_c.dat"

# read src_rec file
import pytomoatt.src_rec as pta_sr

SR_A = pta_sr.SrcRec.read(fpath_a, dist_in_data=True)
print(SR_A)
SR_B = pta_sr.SrcRec.read(fpath_b, dist_in_data=True, name_net_and_sta=True)
print(SR_B)
SR_C = pta_sr.SrcRec.read(fpath_c, dist_in_data=True)
print(SR_C)

PyTomoATT SrcRec Object:
                fnames=['./test_srcrec_a.dat'],
                src_only=False,
                number of sources=5,
                number of receivers=41
PyTomoATT SrcRec Object:
                fnames=['./test_srcrec_b.dat'],
                src_only=False,
                number of sources=5,
                number of receivers=67
PyTomoATT SrcRec Object:
                fnames=['./test_srcrec_c.dat'],
                src_only=False,
                number of sources=2,
                number of receivers=99

In [2]:
SR_A.src_points

,origin_time,evla,evlo,evdp,mag,num_rec,event_id,weight
src_index,,,,,,,,
1,1980-01-07 19:56:56.200,37.6100,-118.9179,5.0,3.4,5,652416.0,1.0
2,1980-01-10 05:01:58.300,37.4420,-118.4919,5.0,3.2,9,652526.0,1.0
3,1980-01-14 23:51:52.950,37.5776,-118.8783,10.0,4.2,9,652722.0,1.0
4,1980-01-15 00:00:19.000,37.6330,-118.8669,5.0,3.2,5,652726.0,1.0
5,1980-01-15 20:28:22.000,36.1830,-117.5999,8.0,3.9,13,652757.0,1.0

In [3]:
SR_A.rec_points

,src_index,rec_index,staname,stla,stlo,stel,phase,dist_deg,tt,weight
0,1,1,TIN,37.0542,-118.2301,1197.0,P,86.70,16.70,1.0
1,1,2,FRI,36.9917,-119.7080,119.0,P,98.03,18.50,1.0
2,1,3,MNV,38.4322,-118.1540,1507.0,P,113.30,20.50,1.0
3,1,4,CWC,36.4399,-118.0802,1595.0,P,149.86,26.20,1.0
4,1,5,EUR,39.4833,-115.9700,2178.0,P,330.29,54.60,1.0
5,2,1,TIN,37.0542,-118.2301,1197.0,P,48.95,9.40,1.0
6,2,2,MNV,38.4322,-118.1540,1507.0,P,114.02,20.20,1.0
7,2,3,CWC,36.4399,-118.0802,1595.0,P,117.28,19.50,1.0
8,2,4,FRI,36.9917,-119.7080,119.0,P,118.76,19.70,1.0
9,2,5,TNP,38.0820,-117.2180,1932.0,P,132.68,23.40,1.0
10,2,6,GLR,37.1994,-116.0175,1446.0,P,220.46,34.20,1.0
11,2,7,WCN,39.3104,-119.7590,1658.0,P,235.29,37.00,1.0
12,2,8,EUR,39.4833,-115.9700,2178.0,P,315.78,52.10,1.0
13,2,9,BMN,40.4315,-117.2218,1594.1,P,350.09,50.50,1.0
14,3,1,TIN,37.0542,-118.2301,1197.0,P,81.69,15.05,1.0
15,3,2,FRI,36.9917,-119.7080,119.0,P,98.15,19.15,1.0
16,3,3,MNV,38.4322,-118.1540,1507.0,P,114.27,19.05,1.0
17,3,4,CWC,36.4399,-118.0802,1595.0,P,145.00,25.35,1.0
18,3,5,TNP,38.0820,-117.2180,1932.0,P,156.23,26.15,1.0
19,3,6,GLR,37.1994,-116.0175,1446.0,P,256.21,38.75,1.0
20,3,7,EUR,39.4833,-115.9700,2178.0,P,329.97,48.05,1.0
21,3,8,BMN,40.4315,-117.2218,1594.1,P,348.11,49.95,1.0
22,3,9,DUG,40.1950,-112.8133,1477.0,P,600.03,82.85,1.0
23,4,1,TIN,37.0542,-118.2301,1197.0,P,85.51,15.50,1.0
24,4,2,FRI,36.9917,-119.7080,119.0,P,103.04,19.60,1.0
25,4,3,MNV,38.4322,-118.1540,1507.0,P,108.61,19.60,1.0
26,4,4,CWC,36.4399,-118.0802,1595.0,P,149.92,25.80,1.0
27,4,5,EUR,39.4833,-115.9700,2178.0,P,325.21,53.50,1.0
28,5,1,CWC,36.4399,-118.0802,1595.0,P,51.65,8.30,1.0
29,5,2,MCA,36.6466,-117.2805,303.0,P,58.94,9.00,1.0
30,5,3,TMO,36.8048,-117.4035,2170.0,P,71.34,10.90,1.0
31,5,4,TIN,37.0542,-118.2301,1197.0,P,112.02,17.60,1.0
32,5,5,SDH,36.6453,-116.3378,1073.0,P,124.09,20.20,1.0
33,5,6,NOP,36.1271,-116.1522,983.0,P,130.12,21.10,1.0
34,5,7,JON,36.4399,-116.1033,939.0,P,137.11,22.40,1.0
35,5,8,GLR,37.1994,-116.0175,1446.0,P,180.77,28.60,1.0
36,5,9,FRI,36.9917,-119.7080,119.0,P,208.59,32.80,1.0
37,5,10,TNP,38.0820,-117.2180,1932.0,P,213.86,32.80,1.0
38,5,11,MNV,38.4322,-118.1540,1507.0,P,254.86,38.00,1.0
39,5,12,EUR,39.4833,-115.9700,2178.0,P,393.89,55.80,1.0
40,5,13,BMN,40.4315,-117.2218,1594.1,P,473.56,64.50,1.0

In [4]:
SR_B.src_points

,origin_time,evla,evlo,evdp,mag,num_rec,event_id,weight
src_index,,,,,,,,
1,1980-01-01 00:05:01.210,33.7228,-118.8540,6.01,1.80,6,12277543.0,1.0
2,1980-01-01 01:53:06.210,33.0928,-116.0768,5.99,1.60,12,3301492.0,1.0
3,1980-01-01 03:59:23.440,37.4587,-118.0508,6.00,2.50,5,12319163.0,1.0
4,1980-01-01 04:13:56.080,33.2475,-115.9937,6.75,2.32,5,12319359.0,1.0
5,1980-01-01 04:29:43.260,32.7955,-115.4575,10.00,3.12,39,3325143.0,1.0

In [5]:
SR_B.rec_points

,src_index,rec_index,staname,stla,stlo,stel,phase,dist_deg,tt,weight
0,1,1,CI_PTD,34.0044,-118.8069,7.0,P,31.59,5.578,1.0
1,1,2,CI_KYP,34.1012,-118.8802,686.0,P,42.11,7.258,1.0
2,1,3,CI_KYP,34.1012,-118.8802,686.0,S,42.11,12.480,1.0
3,1,4,CI_SAD,34.0809,-118.6655,715.0,S,43.43,12.679,1.0
4,1,5,CI_SLG,34.1095,-119.0650,381.0,S,47.17,13.179,1.0
...,...,...,...,...,...,...,...,...,...,...
62,5,35,CI_HOT,33.3144,-116.5824,1934.0,P,119.84,18.318,1.0
63,5,36,CI_SMO,33.5356,-116.4624,2403.0,S,124.79,33.920,1.0
64,5,37,CI_LTM,33.9151,-114.9191,749.6,P,134.17,20.578,1.0
65,5,38,CI_PLM,33.3536,-116.8627,1691.0,P,145.15,21.841,1.0
66,5,39,CI_IRN,34.1600,-115.1848,990.7,P,153.74,23.001,1.0

In [6]:
SR_C.src_points

,origin_time,evla,evlo,evdp,mag,num_rec,event_id,weight
src_index,,,,,,,,
1,1980-01-01 02:09:21.250,36.248,-120.819,6.08,3.7,31,1049655.0,1.0
2,1980-01-01 02:09:26.850,36.253,-120.818,10.46,3.2,68,1049656.0,1.0

In [7]:
SR_C.rec_points

,src_index,rec_index,staname,stla,stlo,stel,phase,dist_deg,tt,weight
0,1,1,NC.BAV,36.6459,-121.0302,572.0,P,48.11,9.24,1.0
1,1,2,NC.BBN,36.5095,-121.0771,412.0,P,37.14,7.29,1.0
2,1,3,NC.BCG,36.7096,-121.3428,250.0,P,69.49,12.25,1.0
3,1,4,NC.BEH,36.6648,-121.1754,334.0,P,56.25,10.73,1.0
4,1,5,NC.BHS,36.3558,-121.5398,646.0,P,65.70,10.62,1.0
...,...,...,...,...,...,...,...,...,...,...
94,2,64,NC.PPT,36.1091,-120.7242,481.0,P,18.08,3.82,1.0
95,2,65,NC.PSA,36.0247,-120.8892,150.0,P,26.18,4.92,1.0
96,2,66,NC.PSE,35.2452,-120.7647,201.0,P,112.17,19.52,1.0
97,2,67,NC.PSM,36.0688,-120.5962,957.0,P,28.57,5.99,1.0
98,2,68,NC.PWK,35.8145,-120.5119,470.0,P,55.99,10.27,1.0

In [8]:
# append src_rec file
SR_A.append(SR_B)
SR_A.append(SR_C)

In [9]:
SR_C.src_points

,origin_time,evla,evlo,evdp,mag,num_rec,event_id,weight
src_index,,,,,,,,
1,1980-01-01 02:09:21.250,36.248,-120.819,6.08,3.7,31,1049655.0,1.0
2,1980-01-01 02:09:26.850,36.253,-120.818,10.46,3.2,68,1049656.0,1.0

In [10]:
SR_A

PyTomoATT SrcRec Object:
                fnames=['./test_srcrec_a.dat', './test_srcrec_b.dat', './test_srcrec_c.dat'],
                src_only=False,
                number of sources=12,
                number of receivers=207

In [11]:
# write unified src_rec file
SR_A.write(fname="test_out_srcrec.dat")

100%|██████████| 12/12 [00:00<00:00, 333.36it/s]

In [12]:
SR_A.src_points

,origin_time,evla,evlo,evdp,mag,num_rec,event_id,weight
src_index,,,,,,,,
1,1980-01-07 19:56:56.200,37.6100,-118.9179,5.00,3.40,5,652416.0,1.0
2,1980-01-10 05:01:58.300,37.4420,-118.4919,5.00,3.20,9,652526.0,1.0
3,1980-01-14 23:51:52.950,37.5776,-118.8783,10.00,4.20,9,652722.0,1.0
4,1980-01-15 00:00:19.000,37.6330,-118.8669,5.00,3.20,5,652726.0,1.0
5,1980-01-15 20:28:22.000,36.1830,-117.5999,8.00,3.90,13,652757.0,1.0
6,1980-01-01 00:05:01.210,33.7228,-118.8540,6.01,1.80,6,12277543.0,1.0
7,1980-01-01 01:53:06.210,33.0928,-116.0768,5.99,1.60,12,3301492.0,1.0
8,1980-01-01 03:59:23.440,37.4587,-118.0508,6.00,2.50,5,12319163.0,1.0
9,1980-01-01 04:13:56.080,33.2475,-115.9937,6.75,2.32,5,12319359.0,1.0
10,1980-01-01 04:29:43.260,32.7955,-115.4575,10.00,3.12,39,3325143.0,1.0
11,1980-01-01 02:09:21.250,36.2480,-120.8190,6.08,3.70,31,1049655.0,1.0
12,1980-01-01 02:09:26.850,36.2530,-120.8180,10.46,3.20,68,1049656.0,1.0

In [13]:
SR_A.rec_points

,src_index,rec_index,staname,stla,stlo,stel,phase,dist_deg,tt,weight
0,1,1,TIN,37.0542,-118.2301,1197.0,P,86.70,16.70,1.0
1,1,2,FRI,36.9917,-119.7080,119.0,P,98.03,18.50,1.0
2,1,3,MNV,38.4322,-118.1540,1507.0,P,113.30,20.50,1.0
3,1,4,CWC,36.4399,-118.0802,1595.0,P,149.86,26.20,1.0
4,1,5,EUR,39.4833,-115.9700,2178.0,P,330.29,54.60,1.0
...,...,...,...,...,...,...,...,...,...,...
202,12,64,NC.PPT,36.1091,-120.7242,481.0,P,18.08,3.82,1.0
203,12,65,NC.PSA,36.0247,-120.8892,150.0,P,26.18,4.92,1.0
204,12,66,NC.PSE,35.2452,-120.7647,201.0,P,112.17,19.52,1.0
205,12,67,NC.PSM,36.0688,-120.5962,957.0,P,28.57,5.99,1.0
206,12,68,NC.PWK,35.8145,-120.5119,470.0,P,55.99,10.27,1.0